body {
    background-color: gray;
    margin: 0 auto;
}

.panel-default {
    background-color: black;
    color: white;
    padding: 10px;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 120px;
    height: 50vh;
    max-height: 500px;
    border: white 2px solid;
    position: relative;
}

.input-group {
    position: absolute;
    bottom: -24px;
    left: 1px;
    width: 79%;
    max-width: 998px;
}

.chat-input {
    width: 90%;
}